* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Sono";
  src: url("/Sono-Regular.woff2") format("woff");
}

header {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  font-family: "Sono";
  margin: 1rem;
}

pre {
  white-space: pre-wrap;
}

.text {
  font-family: "Sono", Courier, monospace;
  font-size: 1.5rem;
}

.text-body {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.black {
  color: black;
  background-color: white;
  animation: fade 0.2s linear;
}

.black-final {
  color: black;
  background-color: white;
  animation: fade 1s linear;
}

@keyframes fade {
  0% {
    color: white;
    background-color: black;
  }
  100% {
    color: black;
    background-color: white;
  }
}